.auth{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    position: absolute;
    width: 440px;
    height: 449px;
    left: 536px;
    top: 267px;

    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.logo{
    /* Mente Sã */
    width: 137px;
    height: 38px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    color: #6813D5;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.welcome{
    /* Bem vindo ao sistema */
    width: 239px;
    height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #6813D5;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.enterPlease{
    /* Por favor entre com sua conta */
    width: 215px;
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #AAAAAA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


/******* Sidemenu *******/
.side-menu {
    position: absolute;
    width: 293px;
    background: #6813D5;
    height: 982px;
    left: 0px;
    top: 0px;
  }

  #mentesa{
    /* Mente Sã */
    position: absolute;
    width: 179px;
    height: 49px;
    left: 21px;
    top: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;

    color: #FFFFFF;
  }
  
  #bem_vindo{
    /* Bem vindo (a), */
    width: 90px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #name_profissional{        
    width: 77px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #sidebar-menu > ul > li > a {
    top: 260px;
    color: #fff;
    display: block;
    padding: 13px 20px;
    font-size: 14px;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Poppins", sans-serif;
  }
  
  #sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active {
    color: #fff;
    text-decoration: none;
  }
  
  #sidebar-menu > ul > li > a > span {
    margin-left: 7px;
  }
  
  #sidebar-menu > ul > li > a i {
    line-height: 1;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  
  #sidebar-menu > ul > li > a .badge {
    margin-top: 3px;
  }
  
  #sidebar-menu > ul > li > a.mm-active {
    color: #fff !important;
    background-color: #fff;
  }
  
  #sidebar-menu .menu-title {
    padding: 12px 20px !important;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }

  /******* Metis Menu css *******/
.metismenu {
    padding: 0;
  }
  
  .metismenu ul {
    padding: 0;
  }
  
  .metismenu ul li {
    list-style: none;
  }  
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 16px;

    position: absolute;
    width: 226px;
    height: 178px;
    left: 387px;
    top: 91px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .item-title {
    width: 162px;
    height: 42px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #666666;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .item-number {
    width: 28px;
    height: 56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    color: #666666;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }